<section
    class="px-4 w-screen min-h-screen flex flex-col items-center justify-center relative">
    <div
        *ngFor="let home of mindcastDependacies"
        class="flex flex-col gap-y-4 items-center justify-center text-center">
        <!-- <img
            src="{{home.logo}}"
            alt=""
            class="h-40 w-40 lg:h-36 lg:w-36"
            @faceIn
        > -->
        <h1
            class="text-5xl lg:text-8xl font-bold text-center mb-4"
            @faceInDelay>
            {{home.title}}
            
        </h1>
        <p
            class="text-lg text-center max-w-2xl font-extralight"
            @faceInDelayXl>
            {{home.description}}
        </p>
        <div 
            class="h-10 w-30 lg:w-10 hover:w-30 flex items-center justify-between relative border-2 border-text dark:border-background hover:border-accen rounded-4xl mt-8 cursor-pointer transition-all duration-300 group" @faceInDelayXl
            routerLink="/intro">
            <span
                class="ml-2 text-lg text-text dark:text-background capitalize lg:opacity-0 lg:group-hover:opacity-100 absolute group-hover:relative transition-all duration-500">intro
            </span>
            <span
                class="h-[34px] lg:h-9 lg:group-hover:h-[34px] w-16 lg:w-9 lg:group-hover:w-16 flex items-center justify-center absolute right-[1px] lg:right-0 lg:group-hover:right-[1px] rounded-full text-white dark:text-text bg-text dark:bg-background transition-all duration-300">
                <i class="bi bi-arrow-up-right"></i>
            </span>
        </div>
    </div>
    <div
        class="scroll-button flex flex-col items-center justify-center mt-8 *:cursor-pointer absolute bottom-0"
        @faceInDelayXxl
        appScrollDownVisible>
        <img
            src="assets/icons/element/arrow-icon.svg"
            alt=""
            class="h-8 w-8 animate-bounce dark:stroke-background fill-background"
            (click)="scrollDown()"
        >
        <span
            class="text-xl font-semibold mt- animate-pulse"
            (click)="scrollDown()"
            >
            voir article
        </span>
    </div>
</section>

<!-- <section

    class="px-4 w-screen min-h-screen flex flex-col items-center justify-center relative">
    <div
        class="">
        <h2>

        </h2>

    </div>

</section> -->

<!-- ================= section 2 current app ================== -->
<app-current-app></app-current-app>
<!-- ================= section 3 recent articles prototype ================== -->
<div
#scrollDownVisible>

    <app-recent-article ></app-recent-article>
</div>

<!-- ================ section 4 home community =================== -->
 <app-home-community></app-home-community>