/* .scroll-button{
    animation-delay: 1s;
} */

.scroll-button{
    /* transition: all 300ms ease-in-out; */
    visibility: hidden;
    /* animation-delay: 5s; */
}
.scroll-button.isVisible{
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}