<section
    class="px-4 w-screen min-h-screen flex flex-col items-center justify-center relative">
    <div
        *ngFor="let home of mindcastDependacies"
        class="flex flex-col items-center justify-center text-center">
        <img
            src="{{home.logo}}"
            alt=""
            class="h-70 w-70 lg:h-96 lg:w-96"
            @faceIn
        >
        <h1
            class="text-5xl font-bold text-center mb-4"
            @faceInDelay>
            {{home.title}}
        </h1>
        <p
            class="text-xl text-center max-w-2xl font-extralight"
            @faceInDelayXl>
            {{home.description}}
        </p>
    </div>
    <div
        class="scroll-button flex flex-col items-center justify-center mt-8 *:cursor-pointer"
        @faceInDelayXxl
        appScrollDownVisible>
        <img
            src="assets/icons/element/arrow-icon.svg"
            alt=""
            class="h-8 w-8 animate-bounce"
            (click)="scrollDown()"
        >
        <span
            class="text-xl font-semibold mt- animate-pulse"
            (click)="scrollDown()"
            >
            scroll down
        </span>
    </div>
</section>

<!-- <section

    class="px-4 w-screen min-h-screen flex flex-col items-center justify-center relative">
    <div
        class="">
        <h2>

        </h2>

    </div>

</section> -->

<!-- ================= section 2 recent articles prototype ================== -->
<div
#scrollDownVisible>

    <app-recent-article ></app-recent-article>
</div>

<!-- ================ section 3 =================== -->