<div
    class=" menuToggle fixed flex flex-col items-start justify-around pl-8 min-lg:hidden inset-0 z-40 h-screen w-screen bg-background/90 backdrop-blur-sm transition-all durarion-300"
    *ngIf="isOpen"
    [ngClass]="{'translate-x-0': isOpen, '-translate-x-full': !isOpen, 'transition-all': isOpen, 'duration-300': isOpen}">

    <ul
        class="flex flex-col items-start justify-around gap-y-4 *:cursor-pointer *:text-3xl *:flex *:items-end *:gap-x-4">
        <li 
            [routerLink]="['']"
            (click)="onClose()">
            <i class="bi bi-house"></i>
            <span>
                Accueil
            </span>
        </li>
        <li 
            [routerLink]="['/blog']"
            (click)="onClose()">
            <i class="bi bi-blockquote-left"></i>
            <span>
                Blog
            </span>
        </li>
        <li 
            [routerLink]="['/auteur']"
            (click)="onClose()">
            <i class="bi bi-person"></i>
            <span>
                Auteur
            </span>
        </li>
    </ul>
    <ul class="flex flex-col items-start justify-around *:text-2xl">
        <li
            class="bg-accent px-2 rounded-lg hover:bg-hover text-background">
            Connexion
        </li>
        <li
            class="text-accent pl-2">
            s'inscrire
        </li>
    </ul>

</div>
