
<section
    class="w-screen min-h-screen relative flex flex-col lg:flex-row items-center justify-between pt-6 lg:pt-20 px-4 gap-y-4 pb-2">

    <div
        class="w-full lg:w-1/2 lg:min-h-screen relative flex flex-col items-center justify-start pt-30 gap-y-8">
        <div 
            class="flex flex-col items-center">
            <span
                class="text-2xl font-mono font-extralight font-stretch-200% italic">
                Mindcast
            </span>
            <span
                class="text-xs font-light font-stretch-200%">
                -V1
            </span>
        </div>
        <div
            class="h-90 w-90 flex items-center justify-center">
            <img 
                src="assets/icons/site/Mindcast-logo-fill.svg" alt=""
                class="w-44">
        </div>
    </div>
    <div
        class="w-full lg:w-1/2 lg:min-h-screen flex flex-col items-center lg:items-start justify-start lg:pt-30 gap-y-12">
        <span
            class="text-xl">Lorem ipsum dolor sit.
        </span>
        <div 
            class="text-text text-md text-center lg:text-left lg:text-balance font-light flex lg:block flex-col items-center lg:items-start gap-y-4 lg:gap-y-8">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, molestias?
            </p> 
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis tempora dolor sit officiis mollitia excepturi dicta molestiae culpa veritatis.
            </p> 
            <br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem numquam assumenda pariatur consectetur quasi, expedita eveniet accusamus harum veritatis, itaque vel reprehenderit consequuntur tempora fugiat at quidem enim esse tempore illo, recusandae officiis sed iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, facere.
            </p> 
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla earum debitis dolores veniam eaque natus officiis delectus deserunt dolore dicta?
            </p>
            <br>
            <button
                class="bg-transparent px-2 py-1 flex items gap-x-4 border border-transparent rounded-md hover:cursor-pointer || hover:bg-accent transition-all duration-300 font-semibold">
                <span>see more</span>
                <i class="bi bi-arrow-up-right border border-text rounded-sm px-1 font-semibold"></i>
            </button>
        </div>
    </div>
</section>
