<main
    class="w-screen h-screen fixed inset-0 z-10000 flex flex-col items-center justify-center text-center px-4 py-16 bg-gradient-to-b from-white to-white">
    <span
        class="absolute flex items-center gap-x-2 top-4 left-4 text-2xl font-semibold cursor-pointer hover:text-secondaire/100 transition duration-300"
        routerLink="/">
        <i class="bi bi-arrow-left"></i>
        <span
            class="text-lg">Retour</span>
    </span>
    <h1
        class="text-4xl md:text-5xl lg:text-6xl font-extrabold mb-4"
        @faceInDelay>
        Welcome to Mindcast
    </h1>
    
</main>
